<%- include ("partials/_header") %>

<div class="conteiner">
  <div class="row mt-5">
    <div class="col-md-7">

    </div>
    <div class="col-md-5">
      <form action="/add">
        <div class="form-group">
          <input type="text" name="nombre" placeholder="Nombre" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="correo" placeholder="Correo" class="form-control">
        </div>
        <div class="form-group">
          <input type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" class="form-control">
        </div>
      </form>
    </div>
  </div>
</div>




<%- include ("partials/_footer") %>